<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="index.css" />
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
</head>
<body>
	 <div class="relative">
     relative
		<div class="absolute">
      absolute
			<div class="inner">inner</div>
		</div>
	</div>
	<div class="data-box"></div>

	<hr/>
		<strong>Links to jsperf:</strong>
		<a href="http://jsperf.com/getboundingclientrect-vs-jquery-to-take-offset2">without margins</a>
		,
		<a href="http://jsperf.com/getboundingclientrect-vs-jquery-to-take-offset">with margins</a>
		
	<hr/>
		<strong>
			<a href="https://developer.mozilla.org/en-US/docs/DOM/element.getBoundingClientRect">Browser compatibility</a>
		</strong> 
  <script type="text/javascript" src="index.js">
  </script>
</body>
</html>
